<% include ./partials/header %>
<div class="container">
    <h2>FIRST NAME: <%= currentUser.firstName %></h2>
    <h2>LAST NAME: <%= currentUser.lastName %></h2>
    <h3>USERNAME: <%= currentUser.username %></h3>
</div>
<% include ./partials/header %>

// Add the ability to view posts by this user and campgrounds created by this user